@model ASP9.Models.WeatherInfo 

<div class="weather-info">
    <p>Description: @Model.Description</p>
    <p>Temperature: @Model.Temperature °C</p>
    <p>Humidity: @Model.Humidity %</p>
    <p>Wind Speed: @Model.WindSpeed m/s</p>
</div>
